#controls {
   width: 400px;
    float: left;
}
#gv-stage {
    width: 400px;
    float: left;
}

#gv-stage table td,
#gv-stage table th {
    font-family: monospace;
    font-size: 10px;
}
#gv-stage table th {
    padding-right: 5px;
}


#gv-stage table {
    border-collapse: collapse;
}

#gv-stage table td {
    border-bottom: solid 3px black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    height: 20px;
    width: 20px;
    text-align: center;
}

#gv-stage tr:first-child td {
    border: solid 2px #fff;
}

#color-key td {
    width: 100px;
}